.client-section{
    background: #5e43ff;
    padding-top: 80px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
}
.client-content h5{
    font-size: 36px;
    color: white;
    font-weight: 600;
    margin-bottom: 30px;
    width: 77%;
}
.client-img{
    text-align: center;
    margin-top: 45px;
}

.client-img video{
    width: 45%;
    float: left;
    border-radius: 3%;
    margin-left: 25px;
}
.client-img video .vid2{
    width: 40%;
    float: right;
    border-radius: 3%;
}
.client-content p{
    color: white;
}
.client-content p img{
    width: 15%;
}


@media (max-width: 600px){
.client-section{
    text-align: center;
    border-radius: 15px;
}.client-content h5{
    width: fit-content;
}
.client-img video{
    float: none;
    width: 60%;
}
.client-img{
    margin-top: 5%;
}
.owl-theme{
    text-align: center;
}
.work-img1{
    width: 80%;
    margin-left: 10%;
}
}