.newPage{
    background-color: #000000;
}
.launch{
    width: 91.7%;
    border-radius: 3%;
}


@media (max-width: 600px) {
.launch{
    width: 100%;
    height: 100%;
}   
.newPage{
    height: 100vh;
}
}
