  .launch-container {
    background-color: black;
    overflow-y: hidden;
  }
  
  .launch-video {
    width: 100%;
  }
  
  @media (max-width: 600px) {
    .launch-video {
      width: 100%;
      height: 100%;
    }   
    .launch-container{
      margin-top: 70%;
    }
  }
  